body {
  background: #68c0e8; /* fallback for old browsers */
  background: linear-gradient(to bottom, #68c0e8, #55b6df, #3da8d0);
}

.App {
  text-align: center;
}

.displayData {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 2px solid black;
  border-radius: 10px;
  width: 80%;
  height: 500px;
  margin-top: 60px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.5;
}